#build
target/

#OSX
*.DS_Store

#IntelliJ
*.iml
*.idea

#Clover
clover.license
/.settings
/.classpath
/.project
.clover
/recordings
/temp
/bin
db/Active/environments/development.properties
db/Historic/environments/development.properties
db/Quartz/environments/development.properties
test/webdriver/test-output/html
